@use "scss-reset/reset";
@use "./variables.scss" as *;
@use "./mixins.scss" as mix;

@import "./typography.scss";

// define defaults here

html {
  font-size: $html-font-size;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
}

body {
  font-size: mix.rem(16px);
}

p {
  line-height: 1.3;
}

strong {
  font-weight: 700;
}

#layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
#content {
  padding: 2rem 1rem;
  flex: 1 1 auto;
  overflow: auto;
}
