@use 'sass:color' as color;

$html-font-size: 16px;

$font-family-sans-serif: 'Roboto', sans-serif;

// colors

$color-primary: #fff0db;
$color-primary-light: color.adjust($color-primary, $lightness: 20%);
$color-primary-dark: color.adjust($color-primary, $lightness: -20%);


$color-secondary: #112028;

$color-tertiary: #61E8E0;