@use "../../scss/variables.scss" as *;
@use "../../scss/mixins.scss" as *;

header#header {
	background-color: $color-primary;
	text-align: center;
	padding: rem(16px);
	font-size: rem(32px);

	&.has-back-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.title {
		flex:1;
	}
	a {
		color: $color-primary;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		&:hover {
			color: $color-primary-dark;
		}
	}
}
