@use "#root/scss/variables" as *;
@use "#root/scss/mixins" as *;
.title-bar {
  text-align: center;
	background-color: $color-secondary;
	padding: rem(18px) rem(20px);
	position: sticky;
	top: 0;
	z-index: 1;
  color:white;
  font-weight: 600;
	font-family: "Poppins";
}
