@use '../../scss/variables.scss' as *;
@use '../../scss/mixins.scss' as *;
header {
  background-color: $color-secondary;
  text-align: center;
  a {
    color: $color-primary;
    text-decoration: none;
    font-size: rem(32px);
    display: block;
    padding: rem(16px);
    font-weight: 900;
    text-transform: uppercase;
    &:hover {
      color: $color-primary-dark;
    }
  }
}