@use "../../../scss/variables.scss" as *;
@use "../../../scss/mixins.scss" as *;

.meal-detail {
  &__title {
    padding: .5rem 1rem;
    background-color: $color-primary;
    text-align: center;
    color: white;
    font-size: rem(20px);
  }
}
